/* 
Common CSS Stylesheet for all pages
Author: David Eelman
Date: 2017-06-06
*/

html {
  position: relative;
  min-height: 100%;
}

body { 
  font-family: Tahoma, Georgia, serif; /* Default font - Tahoma */
  margin-top: 50px; /* Footer */
} 
